/* *************** */
/* Local Font */
/* *************** */

@font-face {
  font-family: gilroy-black;
  src: url(../font/Gilroy-Black.ttf) format("truetype");
}

@font-face {
  font-family: gilroy-bold;
  src: url(../font/Gilroy-Bold.ttf) format("truetype");
}

@font-face {
  font-family: gilroy-extraBold;
  src: url(../font/Gilroy-ExtraBold.ttf) format("truetype");
}

@font-face {
  font-family: gilroy-heavy;
  src: url(../font/Gilroy-Heavy.ttf) format("truetype");
}

@font-face {
  font-family: gilroy-light;
  src: url(../font/Gilroy-Light.ttf) format("truetype");
}

@font-face {
  font-family: gilroy-medium;
  src: url(../font/Gilroy-Medium.ttf) format("truetype");
}

@font-face {
  font-family: gilroy-regular;
  src: url(../font/Gilroy-Regular.ttf) format("truetype");
}

@font-face {
  font-family: gilroy-semiBold;
  src: url(../font/Gilroy-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: gilroy-thin;
  src: url(../font/Gilroy-Thin.ttf) format("truetype");
}

@font-face {
  font-family: gilroy-ultraLight;
  src: url(../font/Gilroy-UltraLight.ttf) format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
  font-size: 44.46614583333333%;
}

.mycontainer {
  width: 165rem;
  margin: 0 auto;
}

/***********************/
/* Header section start */
/***********************/

#header {
  padding-top: 5.5rem;
  width: 100%;
  height: 108rem;
  background-image: url(../img/header-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 18rem;
}

#header .top {
  height: 9rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header .top a {
  cursor: pointer;
}

#header .top .right {
  width: 25.5rem;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header .top .right a {
  font-family: gilroy-semiBold;
  color: #020717;
  font-size: 2.4rem;
  text-decoration: none;
  position: relative;
}

#header .top .right a::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  background-color: #020717;
  height: .2rem;
  width: 100%;
  border-radius: .2rem;
  -webkit-border-radius: .2rem;
  -moz-border-radius: .2rem;
  -ms-border-radius: .2rem;
  -o-border-radius: .2rem;
}

#header .top .right .hambarger {
  background-color: #020717;
  height: 9rem;
  width: 9rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  z-index: 66666666;
}

#header .top .right .hambarger #menu {
  position: absolute;
  width: 40rem;
  background-color: #000000;
  top: 0;
  right: 0;
  z-index: 555555;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transform-origin: 90% 10% ;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  border-top-right-radius: 5rem;
}

#header .top .right .hambarger.active #menu {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  border-top-right-radius: 4.4rem;
}
#header .top .right .hambarger #menu .menu-item {
  list-style: none;
  width: 100%;
  padding: 3rem;
  padding-bottom: 6rem;
}
#header .top .right .hambarger #menu .menu-item li:not(:last-child) {
  border-bottom: .1rem solid rgba(255, 255, 255, 0.2);
  width: 100%;
  padding: 3rem 0;
}

#header .top .right .hambarger #menu .menu-item li:last-child {
  margin-top: 3rem;
}
#header .top .right .hambarger #menu .menu-item li a {
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  width: 100%;
  font-size: 2.4rem;
  font-family: gilroy-semiBold;
  transition:.2s ;
  -webkit-transition:.2s ;
  -moz-transition:.2s ;
  -ms-transition:.2s ;
  -o-transition:.2s ;
}

#header .top .right .hambarger #menu .menu-item li:hover a{
  color: rgba(255, 255, 255, 1);
}

#header .top .right .hambarger .box {
  height: 3.5rem;
  width: 3.5rem;
  position: relative;
 
}

#header .top .right .hambarger .box .bar {
  background-color: #ffffff;
  position: absolute;
  height: .45rem;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  border-radius: .3rem;
  -webkit-border-radius: .3rem;
  -moz-border-radius: .3rem;
  -ms-border-radius: .3rem;
  -o-border-radius: .3rem;
  z-index: 99999999999999;
}

#header .top .right .hambarger .box .bar1 {
  width: 100%;
  top: 7%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

#header .top .right .hambarger .box .bar2 {
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

#header .top .right .hambarger .box .bar3 {
  width: 60%;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

#header .top .right .hambarger.active .bar1 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -moz-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  -o-transform: translate(-50%, -50%) rotate(45deg);
}
#header .top .right .hambarger.active .bar2 {
  opacity: 0;
}
#header .top .right .hambarger.active .bar3 {
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -moz-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  -o-transform: translate(-50%, -50%) rotate(-45deg);
}

#header .bottom {
  display: flex;
  justify-content: space-between;
}

#header .bottom .left {
  width: 71.4rem;
  margin-top: 11.7rem;
}

#header .bottom .left h1 {
  font-family: gilroy-semiBold;
  font-size: 8.5rem;
  line-height: 1.2;
  letter-spacing: normal;
  margin-bottom: 4.5rem;
  color: #020717;
}

#header .bottom .left p {
  font-family: gilroy-medium;
  font-size: 2.4rem;
  line-height: 1.8;
  letter-spacing: normal;
  margin-bottom: 5.2rem;
  color: #020717;
  opacity: 0.65;
  width: 67rem;
}

#header .bottom .left a button {
  color: #ffffff;
  height: 9.3rem;
  width: 24.7rem;
  border: none;
  outline: none;
  background-color: #020717;
  border-radius: 1.7rem;
  -webkit-border-radius: 1.7rem;
  -moz-border-radius: 1.7rem;
  -ms-border-radius: 1.7rem;
  -o-border-radius: 1.7rem;
  font-family: gilroy-semiBold;
  font-size: 2.4rem;
  cursor: pointer;
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
}

#header .bottom .left a button:hover {
  margin-top: -.3rem;
  box-shadow: 0 .5rem 1rem #02071736;
}

#header .bottom .right {
  margin-top: 34.5rem;
  width: 84.6rem;
}

#header .bottom .right .bg-blur-section {
  height: 16.3rem;
  width: 100%;
}

#header .bottom .right .bg-blur-section .box {
  width: 34.2rem;
  background-color: rgba(255, 255, 255, 0.45);
  height: 100%;
  border-radius: 1.5rem;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  -o-border-radius: 1.5rem;
  padding: 3.5rem 4.5rem 3.2rem 3rem;
}

#header .bottom .right .bg-blur-section .box h3 {
  font-family: gilroy-semiBold;
  font-size: 2.4rem;
  color: #0d1e52;
  margin-bottom: 1.1rem;
}

#header .bottom .right .bg-blur-section .box p {
  font-family: gilroy-medium;
  font-size: 1.8rem;
  color: rgba(13, 30, 82, 0.4);
  margin-bottom: 1.1rem;
  line-height: 1.8;
}

#header .bottom .right .first {
  display: flex;
  justify-content: flex-end;
}

#header .bottom .right #middle {
  margin-top: -1.8rem;
}

#header .bottom .right #middle .box {
  backdrop-filter: blur(20px) opacity(100%) brightness(100%);
}

#header .bottom .right #bottom {
  margin-top: 6rem;
}

#header .bottom .right #top .box {
  margin-right: 1.7rem;
  backdrop-filter: blur(20px) opacity(100%) brightness(100%);
}

#header .bottom .right #bottom .box {
  margin-right: 6.6rem;
  backdrop-filter: blur(50px) opacity(100%) brightness(100%);
}

/***********************/
/* Header section end */
/***********************/

/***********************/
/* rating section start */
/***********************/

#rating .main {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#rating .main .left {
  width: 50rem;
  display: flex;
  justify-content: space-between;
  margin-top: 6.3rem;
}

#rating .main .left .box h3 {
  color: #020717;
  font-size: 6rem;
  font-family: gilroy-semiBold;
  margin-bottom: 1.2rem;
}

#rating .main .left .box .star img {
  width: 2.439rem;
  height: 2.337rem;
  margin-bottom: 2.1rem;
}

#rating .main .left .box p {
  color: #020717;
  font-size: 2.8rem;
  font-family: gilroy-semiBold;
  line-height: 1rem;
}

#rating .main .right {
  width: 77.5rem;
  height: 58.6rem;
  background-image: url(../img/rating-bg.png);
  background-size: 20.7rem auto;
  background-position: top 15.5rem left 14rem;
  background-repeat: no-repeat;
  font-size: 3rem;
}

#rating .main .right h2 {
  color: #020717;
  font-family: gilroy-regular;
  font-size: 5.4rem;
  line-height: 1.4;
  margin-bottom: 5.3rem;
  width: 77.6rem;
}

#rating .main .right .second-section {
  width: 79.2rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.9rem;
}

#rating .main .right .second-section .image {
  height: 11.4rem;
  width: 11.4rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  overflow: hidden;
}

#rating .main .right .second-section .image img {
  height: 100%;
  width: 100%;
}

#rating .main .right .second-section p {
  width: 65rem;
  font-size: 2.4rem;
  font-family: gilroy-medium;
  text-align: left;
  line-height: 1.6;
  color: #020717;
}

#rating .main .right h3 {
  font-family: gilroy-bold;
  font-size: 2.8rem;
  color: #020717;
  margin-left: 14rem;
}

/***********************/
/* rating section end */
/***********************/

/***********************/
/* mission section Start */
/***********************/

#mission {
  margin-bottom: 25.6rem;
}

#mission .main {
  display: flex;
  justify-content: space-between;
}

#mission .main .left {
  width: 74.7rem;
}

#mission .main .left img {
  width: 100%;
  height: auto;
  margin-top: -4.4rem;
}

#mission .main .right {
  width: 78.5rem;
  margin-top: 13rem;
}

#mission .main .right h2 {
  width: 74.1rem;
  color: #020717;
  font-size: 5.5rem;
  font-family: gilroy-semiBold;
  line-height: 1.4;
  margin-bottom: 4.3rem;
}

#mission .main .right p {
  width: 66rem;
  color: #020717;
  font-size: 2.4rem;
  font-family: gilroy-medium;
  line-height: 1.8;
  margin-bottom: 6.2rem;
  opacity: 0.65;
}

#mission .main .right a button {
  font-size: 2.4rem;
  height: 9.3rem;
  width: 24.7rem;
  background: none;
  border: .2rem solid #020717;
  outline: none;
  border-radius: 1.7rem;
  -webkit-border-radius: 1.7rem;
  -moz-border-radius: 1.7rem;
  -ms-border-radius: 1.7rem;
  -o-border-radius: 1.7rem;
  cursor: pointer;
  font-family: gilroy-bold;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

#mission .main .right a button:hover {
  background: #020717;
  color: #ffffff;
}

/***********************/
/* mission section end */
/***********************/

/***********************/
/* Service section Start */
/***********************/

#service {
  padding-top: 13.6rem;
  width: 100%;
  background-image: url(../img/bg-pattern-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 15rem;
  margin-bottom: 19rem;
}

#service .top h2 {
  width: 60rem;
  font-family: gilroy-semiBold;
  font-size: 5.5rem;
  color: #ffffff;
  line-height: 1.4;
  margin-bottom: 4.6rem;
}

#service .top p {
  width: 57.5rem;
  font-family: gilroy-medium;
  font-size: 2.4rem;
  color: rgba(255, 255, 255, 0.65);
  line-height: 1.8;
  margin-bottom: 8.5rem;
}

#service .main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#service .main .card {
  width: 20.99%;
  margin-bottom: 7.5rem;
}

#service .main .card img {
  height: 5.2rem;
  width: auto;
  margin-bottom: 3.8rem;
}

#service .main .card h3 {
  margin-bottom: 2.7rem;
  font-family: gilroy-semiBold;
  font-size: 3.4rem;
  color: #ffffff;
}

#service .main .card p {
  font-family: gilroy-medium;
  font-size: 1.8rem;
  color: #ffffff;
  opacity: 0.65;
  line-height: 1.8;
}

#service .hiw {
  margin-top: 12.5rem;
  font-family: gilroy-semiBold;
  font-size: 5.5rem;
  color: #ffc107;
}

#service .hiw > h2 {
  margin-bottom: 70px;
}

#service .hiw .main {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#service .hiw .main .box {
  width: 22%;
}

#service .hiw .main .box:nth-child(even) {
  margin-top: 18rem;
}

#service .hiw .main .box h2 {
  font-size: 17.3rem;
  -webkit-text-stroke: .05rem #ffc107;
  color: transparent;
  font-family: gilroy-regular;
  text-align: center;
}

#service .hiw .main .box h3 {
  font-size: 4.5rem;
  color: #ffc107;
  font-family: gilroy-semiBold;
  margin-bottom: 1.5rem;
}

#service .hiw .main .box p {
  font-size: 1.9rem;
  color: #ffc107;
  font-family: gilroy-medium;
  opacity: 0.65;
  line-height: 2;
}

/***********************/
/* Service section end */
/***********************/

/***********************/
/* Portfolio section Start */
/***********************/

#portfolio {
  margin-bottom: 31.5rem;
}

#portfolio .top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10rem;
}

#portfolio .top .left {
  width: 70%;
}

#portfolio .top .left h2 {
  color: #020717;
  font-size: 5.5rem;
  font-family: gilroy-semiBold;
  width: 55rem;
  line-height: 1.4;
  margin-bottom: 3.6rem;
}

#portfolio .top .left p {
  color: #020717;
  font-size: 2.4rem;
  font-family: gilroy-medium;
  width: 60rem;
  opacity: 0.4;
  line-height: 1.4;
}

#portfolio .top .right {
  width: 20%;
  margin-top: 14rem;
  margin-right: 3rem;
}

#portfolio .top .right .box {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#portfolio .top .right .box .sub {
  width: 7.4rem;
  height: 7.4rem;
  background-color: rgba(2, 7, 23, 0.11);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-right: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
}

#portfolio .top .right .box .sub:hover {
  background-color: #020717;
}

#portfolio .top .right .box .sub2 {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

#portfolio .top .right .box .sub svg #Path_292 {
  fill: #020717;
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
}

#portfolio .top .right .box .sub:hover svg #Path_292 {
  fill: #ffffff;
}

#portfolio .bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#portfolio .bottom .card {
  width: 33.33%;
  cursor: pointer;
}

#portfolio .bottom .card:hover .card-sub h4 {
  color: #02071785;
}

#portfolio .bottom .card:hover .card-sub {
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
}

#portfolio .bottom .card .card-sub {
  width: 95%;
  margin: 0 auto;
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

#portfolio .bottom .card .card-sub p {
  font-family: gilroy-medium;
  font-size: 2.8rem;
  color: #3f4259;
  opacity: 0.5;
  letter-spacing: 0.03em;
  margin-top: 4.7rem;
  margin-bottom: 1.3rem;
}

#portfolio .bottom .card .card-sub h4 {
  font-family: gilroy-semiBold;
  font-size: 3.4rem;
  color: #020717;
  letter-spacing: 0.03em;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

#portfolio .bottom .card .card-sub .image {
  width: 100%;
  height: 51.8rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  overflow: hidden;
}

#portfolio .bottom .card .card-sub .image img {
  width: 100%;
  height: 100%;
}

/***********************/
/* Portfolio section end */
/***********************/

/***********************/
/* Story section Start */
/***********************/

#story h2 {
  width: 103rem;
  margin: 0 auto;
  color: #020717;
  font-family: gilroy-semiBold;
  font-size: 5rem;
  text-align: center;
  line-height: 1.4;
  margin-bottom: 9.5rem;
}

#story .vdo {
  margin: 0 auto;
  width: 129rem;
  height: 72rem;
  background-color: rgba(2, 7, 23, 0.2);
  border-radius: 2.8rem;
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  -ms-border-radius: 28px;
  -o-border-radius: 28px;
  position: relative;
}

#story .vdo img.main {
  width: 100%;
  height: 100%;
  opacity: 0.1;
}

#story .vdo img.play-btn {
  width: 138px;
  height: 138px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  -webkit-transform: translate(-50%, -50%) scale(1);
  -moz-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  -o-transform: translate(-50%, -50%) scale(1);
  animation: play 1s infinite;
  -webkit-animation: play 1s infinite;
  cursor: pointer;
}

@keyframes play {
  0% {
    transform: translate(-50%, -50%) scale(1);
    -webkit-transform: translate(-50%, -50%) scale(1);
    -moz-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    -o-transform: translate(-50%, -50%) scale(1);
  }

  50% {
    transform: translate(-50%, -50%) scale(0.9);
    -webkit-transform: translate(-50%, -50%) scale(0.9);
    -moz-transform: translate(-50%, -50%) scale(0.9);
    -ms-transform: translate(-50%, -50%) scale(0.9);
    -o-transform: translate(-50%, -50%) scale(0.9);
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
    -webkit-transform: translate(-50%, -50%) scale(1);
    -moz-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    -o-transform: translate(-50%, -50%) scale(1);
  }
}

/***********************/
/* Story section end */
/***********************/

/***********************/
/* Footer section start */
/***********************/

#footer {
  background-image: url(../img/bg-pattern-2.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 40rem;
  position: relative;
  padding-bottom: 5.5rem;
}

#footer .box {
  height: 28rem;
  width: 110rem;
  background: #ffffff;
  border-radius: 1.5rem;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  box-shadow: 0 -2rem 8.8rem rgba(2, 7, 23, 0.1);
  position: absolute;
  left: 50%;
  top: -16.4rem;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  padding-left: 8.5rem;
  padding-right: 8.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#footer .box h2 {
  color: #020717;
  font-family: gilroy-semiBold;
  font-size: 4.3rem;
  width: 47rem;
  line-height: 1.5;
}

#footer .box button {
  color: #ffffff;
  font-family: gilroy-semiBold;
  font-size: 2.8rem;
  width: 47rem;
  line-height: 1.5;
  width: 25.6rem;
  height: 10rem;
  border-radius: 1.7rem;
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
  -ms-border-radius: 17px;
  -o-border-radius: 17px;
  background-color: #020717;
  outline: none;
  cursor: pointer;
}

#footer .main-box {
  width: 100%;
  padding-top: 23rem;
  display: flex;
  justify-content: space-between;
  padding-bottom: 14.2rem;
}

#footer .main-box .left {
  width: 35.5rem;
}

#footer .main-box .left a img {
  display: block;
  margin-bottom: 3.2rem;
}

#footer .main-box .left p {
  font-family: gilroy-medium;
  font-size: 2rem;
  color: #ffffff;
  opacity: 0.4;
  line-height: 1.8;
  margin-bottom: 4rem;
}

#footer .main-box .left h4 {
  font-family: gilroy-semiBold;
  font-size: 2.8rem;
  color: #ffffff;
  line-height: 1.8;
}

#footer .main-box .left .social-box {
  display: flex;
}

#footer .main-box .left .social-box .social-icon-box {
  margin-right: 1rem;
  height: 4.2rem;
  width: 4.2rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
  cursor: pointer;
}

#footer .main-box .left .social-box .social-icon-box:hover {
  background-color: rgba(255, 255, 255, 0.075);
}

#footer .main-box .middle1 {
  width: 16.5rem;
}

#footer .main-box .middle2 {
  width: 19.5rem;
}

#footer .main-box .right {
  width: 28rem;
}

#footer .main-box .footer-link h3 {
  font-family: gilroy-semiBold;
  font-size: 3rem;
  color: #ffffff;
  margin-bottom: 3.2rem;
}

#footer .main-box .footer-link p {
  margin-bottom: 2.1rem;
  font-family: gilroy-medium;
  font-size: 2rem;
  color: #ffffff;
  opacity: 0.4;
}

#footer .main-box .footer-link p:last-child {
  margin-bottom: 0;
}

#footer .main-box .footer-link p.right {
  line-height: 2.2;
  margin-top: -1rem;
  margin-bottom: .8rem;
}

#footer .main-box .footer-link p.email {
  font-family: gilroy-semiBold;
  font-size: 2.3rem;
  opacity: 1;
  color: #ffffff;
  pointer-events: none;
}

#footer .main-box .footer-link p a {
  font-family: gilroy-medium;
  font-size: 2rem;
  color: #ffffff;
  text-decoration: none;
}

#footer .copyright-section {
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
#footer .copyright-section p {
  text-align: center;
  font-family: gilroy-medium;
  font-size: 2rem;
  color: rgba(250, 250, 250, 0.4);
}

#footer .copyright-section p > a {
  text-decoration: none;
}

#footer .copyright-section p > a > span#designer {
  font-size: 2rem;
  font-family: gilroy-bold;
  cursor: pointer;
  color: #ffffff;
  opacity: 1;
  position: relative;
}

#footer .copyright-section p span#designer:after {
  position: absolute;
  content: "";
  top: 110%;
  left: 0;
  width: 0;
  height: .3rem;
  background-color: #fff;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

#footer .copyright-section p span#designer:hover:after {
  width: 100%;
}
#footer .copyright-section p > a > span#developer {
  font-size: 2rem;
  font-family: gilroy-bold;
  cursor: pointer;
  color: #ffffff;
  opacity: 1;
  position: relative;
}

#footer .copyright-section p span#developer:after {
  position: absolute;
  content: "";
  top: 110%;
  left: 0;
  width: 0;
  height: .3rem;
  background-color: #fff;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

#footer .copyright-section p span#developer:hover:after {
  width: 100%;
}

#footer .copyright-section span {
  font-family: gilroy-medium;
  font-size: 4rem;
  color: #ffffff;
  opacity: 0.4;
}

/***********************/
/* Footer section end */
/***********************/
